<mat-card class="item"
          role="listitem"
          fxLayout="row"
          fxLayoutGap="20px"
          fxLayoutAlign="start stretch">
  <div class="ingredient"
       fxLayoutAlign="start stretch"
       fxLayout="column">
    <strong>{{item.ingredientKey | i18n:"ingredients"}}</strong>

    <div class="source" *ngFor="let source of item.sources; last as last">
      <ng-container [ngSwitch]="source.type">
        <ng-container *ngSwitchCase="'Manual'">{{ 'shopping_lists.source_manual' | i18n}}</ng-container>
        <ng-container *ngSwitchCase="'Recipe'">{{ 'shopping_lists.source_prefix' | i18n}} {{ source.source }}</ng-container>
        <ng-container *ngIf="!last">,</ng-container>&nbsp;
      </ng-container>
    </div>
  </div>
  <div class="spacer"
       fxFlex>
  </div>
  <div class="amount mat-h2"
       fxLayoutAlign="end center"
       fxLayout="row">
    {{ item.sum }} <ng-container *ngIf="item.unit">{{ (item.unit) | i18n:"units"}}</ng-container>

    <button *ngIf="enableEdit"
            mat-icon-button
            role="button"
            [attr.aria-label]="'edit' | i18n">
      <!-- TODO Add edit callback -->
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</mat-card>
