.user-picture {
  max-height: 100%;
  border-radius: 50%;
}

.app-logo {
  width: 2em;
  height: 2em;
}

mat-sidenav {
  width: 300px;
}

mat-sidenav-content {
  margin: 10px;
}

.shell {
  height: calc(100% - 64px);

  @media(max-width: 599px) {
    height: calc(100% - 56px)
  }
}
