<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".25em">
    <img class="app-logo" src="assets/img/logo.svg" aria-label="ThymeSave Logo">
    <span>ThymeSave</span>
  </div>
  <button mat-icon-button *ngIf="(authService.user$ | async) as user; else logIn" [matMenuTriggerFor]="menu">
    <img [alt]="user?.preferred_username" class="user-picture" [src]="user?.picture">
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="authService.logout({  })">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>

<ng-template #logIn>
  <button color="primary" aria-label="Login" title="Login" mat-icon-button (click)="authService.loginWithRedirect()">
    <mat-icon>login</mat-icon>
  </button>
</ng-template>
