.amount-unit {
  & > * {
    display: inline-block;
  }

  & .amount {
    width: 70px;
    text-align: center;
  }

  .max-unit-placeholder {
    width: 74.67px;
  }
}

@media(min-width: 1200px) {
  ::ng-deep.mat-form-field-infix {
    width: 363px;
  }
}
