.amount-unit {
  & > * {
    display: inline-block;
  }

  & .amount {
    width: 70px;
    text-align: center;
  }

  .max-unit-placeholder {
    width: 74.67px;
  }
}

.button-placeholder {
  width: 21px;
}

.optional-amount {
  opacity: .5;
}
