<div fxLayout="row wrap"
     fxLayoutGap="20px"
     fxLayoutAlign="center center"
     [formGroup]="formGroup">
  <app-drag-handle></app-drag-handle>
  <div class="amount-unit" fxFlex.gt-lg="230px">
    <mat-slide-toggle color="primary"
                      formControlName="isRange"
                      class="example-margin">Range</mat-slide-toggle>
    <mat-form-field class="amount">
      <mat-label>{{ 'min' | i18n }}</mat-label>
      <input matInput formControlName="minAmount">
    </mat-form-field>
    <ng-container *ngIf="formGroup.value.isRange">
      <span>-</span>
      <mat-form-field class="amount" >
        <mat-label>{{ 'max' | i18n }}</mat-label>
        <input matInput
               formControlName="maxAmount">
      </mat-form-field>
    </ng-container>
    <div class="max-unit-placeholder"
         *ngIf="!formGroup.value.isRange"></div>
  </div>
  <app-unit-selector [formGroup]="formGroup"
                     fxFlex
                     formControlName="unit">
  </app-unit-selector>
  <mat-form-field fxFlex>
    <mat-label>{{ 'ingredient' | i18n }}</mat-label>
    <input matInput
           formControlName="translationKey">
  </mat-form-field>
  <button (click)="emitDelete()"
          mat-mini-fab>
    <mat-icon>delete</mat-icon>
  </button>
</div>
