<div class="settings">
  <form [formGroup]="settingsForm"
        (ngSubmit)="save()"
        fxLayout="column">
    <h1>{{ 'settings.general' | i18n }}</h1>
    <h2>{{ 'settings.user_interface' | i18n }}</h2>
    <mat-form-field appearance="fill">
      <mat-label>{{ "language" | i18n }}</mat-label>
      <mat-select formControlName="language">
        <mat-option *ngFor="let lang of availableLanguages"
                    [value]="lang">
          {{ languageIcons[lang] }} {{ ("language." + lang) | i18n }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit"
            color="primary"
            mat-raised-button>
      <mat-icon>save</mat-icon>
      {{ 'save' | i18n }}
    </button>

    <h1>{{ 'settings.danger_zone' | i18n }}</h1>
    <mat-card class="danger-zone">
      <div fxLayout="row"
           fxLayoutGap="10px"
           fxLayoutAlign="center center">
        <div fxFlex>{{ 'settings.danger_zone.purge_database.description'  | i18n}}</div>
        <button mat-stroked-button
                (click)="dropDatabase()"
                color="warn">
          {{ 'settings.danger_zone.purge_database.button'  | i18n }}
        </button>
      </div>
    </mat-card>
  </form>
</div>
