<div fxFlex
     fxLayoutGap="10px"
     class="selector-wrapper"
     [class]="(isMobile$ | async) ? 'mobile' : ''"
     fxLayout="column">
  <div class="list-wrapper"
       role="list"
       [attr.aria-label]="'nav.all_shopping_lists' | i18n"
       [fxLayout]="align"
       fxLayoutGap="10px"
       fxLayoutAlign="start stretch">
    <mat-card *ngFor="let shoppingList of shoppingLists"
              role="listitem"
              (click)="select(shoppingList)"
              class="list-item"
              [class]="activeItemUuid === shoppingList.uuid ? 'list-item active' : 'list-item'"
              mat-ripple>
      <div fxFlex
           fxLayout="column"
           fxLayoutAlign="start center" >
        <mat-icon>{{shoppingList.icon}}</mat-icon>
        {{shoppingList.name}}
      </div>
    </mat-card>
    <app-shopping-list-edit
      role="button"
      [list]="{name: ''}">
      <button mat-flat-button
              class="add-list"
              color="accent">
        <mat-icon>add</mat-icon>
        {{ 'shopping_lists.new' | i18n }}
      </button>
    </app-shopping-list-edit>
  </div>
</div>
