<div class="detail"
     fxLayoutGap="30px"
     fxLayout="column">
  <header fxFlex
          fxLayout="row"
          fxLayoutGap="10px"
          fxLayoutAlign="start center">
    <mat-icon class="icon">{{list.icon}}</mat-icon>
    <span class="heading mat-display-1" role="heading">{{list.name}}</span>
    <div fxFlex></div>
    <app-shopping-list-edit [list]="list">
      <button mat-icon-button
              role="button"
              [matTooltip]="'shopping_lists.edit_list' | i18n"
              [attr.aria-label]="'shopping_lists.edit_list' | i18n">
        <mat-icon>edit</mat-icon>
      </button>
    </app-shopping-list-edit>
    <button mat-icon-button
            color="warn"
            (click)="deleteList()"
            [matTooltip]="'delete' | i18n"
            [attr.aria-label]="'delete' | i18n"
            role="button">
      <mat-icon>delete</mat-icon>
    </button>
  </header>
  <div class="items"
       role="list"
       [attr.aria-label]="'shopping_lists.items' | i18n "
       cdkDropList
       fxLayout="column"
       fxLayoutAlign="center stretch"
       fxLayoutGap="10px">
    <app-shopping-list-item *ngFor="let item of (openItems$ | async); trackBy: trackByFn"
                            [enableCheckbox]="(isMobile$ | async) === false"
                            [item]="item">
    </app-shopping-list-item>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header expandedHeight="40px"
                                collapsedHeight="40px">
      <mat-panel-title>
        {{ 'shopping_lists.already_bought' | i18n }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="items"
         role="list"
         [attr.aria-label]="'shopping_lists.items' | i18n "
         cdkDropList
         fxLayout="column"
         fxLayoutAlign="center stretch"
         fxLayoutGap="10px">
      <app-shopping-list-item *ngFor="let item of (doneItems$ | async); trackBy: trackByFn"
                              [enableCheckbox]="(isMobile$ | async) === false"
                              [enableEdit]="false"
                              [item]="item">
      </app-shopping-list-item>
    </div>
  </mat-expansion-panel>


</div>
