@use "../../../../theme";

$heading-size: 3rem;

.icon {
  background: theme.get-color("primary", 400);
  border-radius: 50%;
  font-size: $heading-size !important;
  width: $heading-size;
  height: $heading-size;
  padding: $heading-size / 6;
}

.heading {
  line-height: 100%;
  margin: 0;
  padding: 0;
}

::ng-deep .mat-expansion-panel-body,
::ng-deep .mat-expansion-panel,
::ng-deep .mat-expansion-panel:hover,
::ng-deep .mat-expansion-panel-header:hover,
::ng-deep .mat-expansion-panel-content,
::ng-deep .mat-expansion-panel-header,
::ng-deep .mat-expansion-panel-header:hover,
mat-expansion-panel {
  padding: 0 !important;
  background: theme.get-color("background", "background") !important;
  box-shadow: none !important;
}

mat-expansion-panel .items {
  padding-top: 10px;
}
