@use "../../../../theme";

/**
Since the styles in this file ARE NOT scoped, please do changes carefully!
 */
.global-notification-toast {
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  color: black;

  &.status-error {
    background: theme.get-color("warn", "darker");
    color: theme.get-color("warn", "darker-contrast")
  }

  &.status-warning {
    background: theme.get-color("warn", "lighter");
    color: theme.get-color("warn", "lighter-contrast")
  }

  &.status-success {
    background: theme.get-color("primary", 700);
    color: theme.get-color("primary", "darker-contrast")
  }

  animation: fade-out 6.5s;
}
