<app-dialog [title]="isEdit ? 'shopping_lists.edit_list' : 'shopping_lists.new'"
            [submitEnabled]="form.valid"
            (clickSubmit)="save()"
            cancelText="cancel"
            okText="save">
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>{{ 'shopping_lists.list_title' | i18n }}</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'shopping_lists.icon' | i18n }}</mat-label>
      <input matInput formControlName="icon">
    </mat-form-field>
  </form>
</app-dialog>
