<div [formGroup]="formGroup"
     [class]="formGroup.valid ? 'valid' : 'invalid'"
     cdkDrag
     cdkDragBoundary=".instructions"
     cdkDragLockAxis="y"
     fxLayoutGap="20px"
     fxLayoutAlign="center center"
     fxLayout="row">
  <app-drag-handle cdkDragHandle></app-drag-handle>
  <mat-form-field class="full-width-field">
    <mat-label>instruction</mat-label>
    <textarea matInput
              [rows]="(text.value.split('\n')?.length ?? 1)"
              formControlName="text"></textarea>
  </mat-form-field>
  <button (click)="emitDelete()"
          color="warn"
          [attr.aria-label]="'delete' | i18n"
          mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</div>
