<div class="wrapper"
     fxFlex
     fxLayout="column">
  <h1 mat-dialog-title>{{ title | i18n }}</h1>
  <div mat-dialog-content>
    <ng-content></ng-content>
  </div>
  <div mat-dialog-actions fxFlex fxLayout="row" fxLayoutAlign="space-around">
    <button mat-button
            color="warn"
            [mat-dialog-close]="false">
      {{ cancelText | i18n }}
    </button>
    <button mat-button
            color="primary"
            [disabled]="!submitEnabled"
            [mat-dialog-close]="true"
            (click)="clickSubmit.next($event)">
      {{ okText | i18n }}
    </button>
  </div>
</div>
