<mat-stepper linear="true" orientation="vertical">
  <mat-step [label]="'recipes.choose_importer' | i18n">
    <p>TODO: Build selector screen for importer</p>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step [label]="'recipes.verify' | i18n">
    <form [formGroup]="form">
      <mat-form-field appearance="fill" fxFlexFill>
        <mat-label>{{ 'recipes.title' | i18n }}</mat-label>
        <input matInput
               formControlName="title">
      </mat-form-field>
      <p>TODO: Add rest of fields</p>
      <button color="primary"
              fxFlexFill
              (click)="save()"
              mat-raised-button>
        <mat-icon>save</mat-icon>
        {{ 'save' | i18n }}
      </button>
    </form>
  </mat-step>
</mat-stepper>
<div>

</div>

