<div class="overview">
  <div fxLayout="column">
    <app-recipe-search-bar
      [search]="search"
      (searchTriggered)="searchSubmitted($event)">
    </app-recipe-search-bar>
    <div fxLayout="column"
         role="group"
         fxLayoutAlign="center space-evenly">
      <div fxLayout="row wrap"
           fxLayoutAlign="center stretch"
           fxLayout.lt-md="column"
           role="list"
           [attr.aria-label]=" 'recipes' | i18n"
           *ngIf="recipes">
        <div class="recipe-tile"
             fxLayoutAlign="center stretch"
             fxFlex="25%"
             fxFlex.lg="25%"
             fxFlex.lt-xl="25%"
             fxFlex.lt-lg="33.33333%"
             fxFlex.lt-md="100%"
             role="listitem"
             *ngFor="let recipe of recipes">
          <app-recipe-card [recipe]="recipe"
                           role="link"
                           class="recipe-card"
                           (click)="openRecipe(recipe)"
                           matRipple>
          </app-recipe-card>
        </div>
      </div>
    </div>

    <div class="pagination"
         role="group"
         [attr.aria-label]="'pagination' | i18n"
         fxFlexFill
         fxLayoutAlign="center">
      <div fxFlexFill
           fxLayoutAlign="space-between center">
        <button mat-button
                [disabled]="!prevToken"
                (click)="prev()">
          <mat-icon>arrow_back</mat-icon>
          {{ "pagination.previous_page"| i18n }}
        </button>
        <button mat-button
                [disabled]="!nextToken"
                (click)="next()">
          {{ "pagination.next_page"| i18n }}
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
    <app-floating-button i18nLabel="recipes.new"
                         routerLink="/recipes/new"></app-floating-button>
  </div>
</div>
