.new {
  position: fixed;
  bottom: 2em;
  right: 1em;
}

.pagination {
  margin-bottom: 30px;
}

app-recipe-search-bar {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.recipe-tile {
  padding: 10px;
}

app-recipe-card {
  width: 100%;
}
