<mat-card>
  <div class="recipe-header"
       fxLayout="column"
       fxLayoutAlign="start">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title class="recipe-title">{{ recipe.title}}</mat-card-title>
    </mat-card-header>
    <div class="recipe-image-wrapper">
      <app-recipe-image [imageSrc]="recipe.image" [imageAlt]="recipe.title">

      </app-recipe-image>
    </div>
  </div>
  <mat-card-content>
    {{ recipe.description | excerpt }}
  </mat-card-content>
</mat-card>
