<div fxLayout="row"
     #contentRoot
     [style]="contentRootStyle"
     class="wrapper"
     [class]="contentRootClasses"
     fxLayoutAlign="start stretch">
  <div class="action left"
       [style]="leftActionStyle"
       fxLayoutAlign="center center">
    <ng-content select="[leftAction]"></ng-content>
  </div>
  <div class="element"
       (panright)="onPanRight($event)"
       (panleft)="onPanLeft($event)"
       (panend)="onPanEnd()"
       [style]="elementStyle">
    <ng-content select="[element]"></ng-content>
  </div>
  <div class="action right"
       fxLayout="row"
       fxFlex
       [style]="rightActionStyle"
       fxLayoutAlign="center center">
    <ng-content select="[rightAction]"></ng-content>
  </div>
</div>
