.wrapper {
  overflow: hidden;
  flex-wrap: nowrap;
}

.element {
  flex: 1 1 100%;
}

.action {
  overflow: hidden;
  text-overflow: fade;
  opacity: .3;
}

.trigger-action-threshold-reached {
  .action {
    opacity: 1;
  }
}
