html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #0c7c5c;
}

body, app-root {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  height: 100vh;
}

div.app-loading {
  margin: auto;
  display: block;
  text-align: center;
  color: white;

  img {
    width: 300px;
  }
}

form {
  width: 80%;
  margin: auto;
}
