<!-- TODO Make fancy -->
<form [formGroup]="form" fxFlex fxLayout="column" fxLayoutGap="20px">
  <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
    <img fxFlex.gt-md="20%" [src]="recipe?.image">
    <div fxFlex.gt-md="30%" fxLayoutAlign="center start" fxLayout="column" class="full-width-field">
      <mat-form-field class="full-width-field">
        <mat-label>{{ 'recipes.title' | i18n }}</mat-label>
        <input matInput
               fxFlexFill
               formControlName="title">
      </mat-form-field>
      <mat-form-field class="full-width-field">
        <mat-label>{{'recipes.description' | i18n}}</mat-label>
        <textarea formControlName="description" matInput></textarea>
      </mat-form-field>
    </div>
  </div>

  <div fxFlex fxFlexFill fxLayout.lt-xl="column">
    <div formArrayName="ingredients"
         fxLayout="column"
         fxLayoutGap.lt-md="50px"
         fxFlex.gt-lg="40%">
      <app-parsed-recipe-editor-ingredient
        *ngFor="let ingredientsFormGroup of ingredients.controls; let i = index;"
        [formGroup]="ingredientsFormGroup"
        (deleted)="ingredients.removeAt(i)"
        fxFlex
        fxLayoutGap="20px"
        fxLayout.lt-md="column"
        fxLayoutAlign="center center">
      </app-parsed-recipe-editor-ingredient>
      <div fxFlex
           fxLayoutAlign="center center"
           class="add-button-container">
        <button mat-fab
                color="primary"
                (click)="addIngredient()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div formArrayName="instructions"
         fxFlex.gt-lg="60%"
         fxLayout="column">
      <app-parsed-recipe-editor-instruction
        fxFlex
        fxFlexFill
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
        *ngFor="let instructionsFormGroup of instructions.controls; let i = index;"
        [formGroup]="instructionsFormGroup"
        (deleted)="instructions.removeAt(i)">
      </app-parsed-recipe-editor-instruction>
      <div fxFlexFill
           fxFlex
           fxLayoutAlign="center center"
           class="add-button-container">
        <button mat-fab
                color="primary"
                fxLayoutAlign="center center"
                (click)="addInstruction()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <!-- TODO Add save action -->
  <button color="primary"
          fxFlexFill
          (click)="save()"
          mat-raised-button>
    <mat-icon>save</mat-icon>
    {{ 'save' | i18n }}
  </button>
</form>
